<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>d2dadvancer.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>d2dadvancer</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>D2D Advancer needs location access to show your current position on the map and help you navigate to leads.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>D2D Advancer needs location access to show your current position on the map and help you navigate to leads.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>D2D Advancer would like access to your Calendar to save scheduled appointments and reminders.</string>
	<key>NSContactsUsageDescription</key>
	<string>D2D Advancer would like to save your leads to your Contacts app for easy access and to help you stay organized with your door-to-door sales.</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
